/*Name: Emily Van Vlerah
PWA2 1408*/



/*beginning*/
body {
    background-color: #deb767;
    padding: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px #8C7C71;}
h1,h2,h3{
    font: noteworthy;
    color: #cd6a28;
}
h1{
    font-size: 21pt;
}
h2{
    font-size: 18pt;
}
p{
    font: helvetica;
    font-size: 14pt;
}
header{
    background-color: #a4a063;
    padding: 10px 10px 0px 30px;
    box-shadow: 1px 1px 5px #8C7C71

}



/*link*/
a{
    color: #b93739;
}
a:hover{
    cursor: pointer;
    color: #d95859;}



/*content*/
div.img {
    height: 150px;
    width: 300px;
    box-shadow: 1px 1px 5px #8C7C71;
}
div.userid{
    position: absolute;
    top: 40px;
    right: 200px;
}
div.logoutbox{
    position: absolute;
    top: 150px;
    right: 15px;
}
fieldset{
    margin-bottom: 20px;
    background-color: #f3ece0;
    width: auto;
    height: auto;
    border: 10px solid #a4a063;
    box-shadow: 1px 1px 5px #8C7C71;
}
div.project{
    position: absolute;
    right: 25px;
    margin: 20px;
    background-color: #f3ece0;
    width: 50px;
    height: 30px;
    text-align: center;
    padding: 0px 10px 20px 10px;
    border: 10px solid #a4a063;
    box-shadow: 1px 1px 5px #8C7C71;
}
#container{
    margin-bottom: 20px;
    background-color: #f3ece0;
    width: auto;
    height: auto;
    padding: 10px;
    border: 10px solid #a4a063;
    box-shadow: 1px 1px 5px #8C7C71;
}


/*input fields*/
input[type="text"]{
    border: 1px solid #a4a063;
    padding: 2px;}
input[type="text"]:hover{
    background-color: #E5E2B5;
    border: 1px solid #a4a063;}
input[type="password"]{
    border: 1px solid #a4a063;
    padding: 2px;}
input[type="password"]:hover{
    background-color: #E5E2B5;
    border: 1px solid #a4a063;}


/*buttons*/
input[type="submit"] {
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#b93739 100%);    border: 1px solid #b93739;
    color: #000;
    padding: 5px;
    margin: 10px 50px 10px 10px;
    box-shadow: 1px 1px 5px #8C7C71;}
input[type="submit"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#d95859 100%);
    border: 1px solid #d95859;
    box-shadow: 1px 1px 5px #8C7C71;}

input[type="button"] {
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#b93739 100%);
    border: 1px solid #b93739;
    color: #000;
    padding: 5px;
    margin: 10px 50px 10px 10px;
    box-shadow: 1px 1px 5px #8C7C71;
}
input[type="button"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#d95859 100%);
    border: 1px solid #d95859;
    box-shadow: 1px 1px 5px #8C7C71;
}

button[class="dashboard"] {
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#b93739 100%);    border: 1px solid #b93739;
    color: #000;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    box-shadow: 1px 1px 5px #8C7C71;}
button[class="dashboard"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#d95859 100%);
    border: 1px solid #d95859;
    box-shadow: 1px 1px 5px #8C7C71;}

button[class="projectsbtn"] {
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#b93739 100%);    border: 1px solid #b93739;
    color: #000;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    box-shadow: 1px 1px 5px #8C7C71;}
button[class="projectsbtn"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#d95859 100%);
    border: 1px solid #d95859;
    box-shadow: 1px 1px 5px #8C7C71;}

button[class="tasksbtn"] {
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#b93739 100%);    border: 1px solid #b93739;
    color: #000;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    box-shadow: 1px 1px 5px #8C7C71;}
button[class="taskssbtn"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#d95859 100%);
    border: 1px solid #d95859;
    box-shadow: 1px 1px 5px #8C7C71;}

button[class="usersbtn"] {
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#b93739 100%);    border: 1px solid #b93739;
    color: #000;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    box-shadow: 1px 1px 5px #8C7C71;}
button[class="usersbtn"]:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #f3ece0 0%,#fe9090 23%,#d95859 100%);
    border: 1px solid #d95859;
    box-shadow: 1px 1px 5px #8C7C71;}


/*tool tip*/
.tooltip{
    display: none;
    position: absolute;
    border: 1px solid #a4a063;
    border-radius: 5px;
    padding: 7px;
    background-color: #a4a063;
    color: #000000;
    font-size: 12pt;
}


/*Modal*/
#overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
#modal{
    width: 350px;
    background: #f3ece0;
    box-shadow: 0px 0px 10px #8C7C71;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 1001;
    display: none;
}
#modal .header{
    background: #a4a063;
    color: #cd6a28;
    padding: 10px;
}
#modal p{
    margin: 15px;
}
#modal .close{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #a4a063;
    cursor: pointer;
    background-color: #deb767;
}
form{
    padding: 10px;
}
form.input{
    padding: 10px;
}
.mystatus > input[type=radio]{
    display: none;
}
input[type=radio] + img{
    cursor: pointer;
    border: 2px solid transparent;
}
input[type=radio]:checked + img{
    border: 2px solid #b93739;
}


/*Style for Tabs*/
#tabs{
    margin-bottom: 20px;
    background-color: #f3ece0;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    border: 10px solid #a4a063;
    box-shadow: 1px 1px 5px #8C7C71;
}
#tabs-nav{
    margin: 20px;
    background-color: #f3ece0;
    width: auto;
    height: auto;
    padding: 20px 20px 20px 20px;
    border: 10px solid #a4a063;
    box-shadow: 1px 1px 5px #8C7C71;
}
#tabs-nav li{
    display: inline;
    padding: 10px 40px 10px 20px;
}


/*footer*/
#footer{
    font-size: 12pt;
    text-align: center;
}